<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{fontName}} - {{names.length}} icons</title>
	<style>
		* {
			box-sizing: border-box;
			margin: 0;
			padding: 0;
		}

		body {
			width: 85%;
			max-width: 1024px;
			margin: 0 auto;
			padding: 0;
		}

		.title {
			margin-top: 40px;
			font-size: 32px;
			color: #24292e;
			text-align: center
		}

		.sub-title {
			margin-top: 10px;
			font-size: 14px;
			color: #aaa;
			text-align: center
		}

		.preview {
			display: flex;
			flex-wrap: wrap;
			margin: 40px -8px;
		}

		.preview-item {
			flex: 0 1 50%;
			padding: 8px;
		}

		.preview-content {
			display: flex;
			align-items: center;
			width: 100%;
			height: 72px;
			padding: 0 24px;
			background: #f8f9fa;
			border-radius: 4px;
			color: #24292e;
			font-size: 14px;
			outline: none;
			border: none;
			cursor: pointer;
			transition: all .2s;
		}

		.preview-content:hover {
			background: #24292e;
			color: #fff;
			box-shadow: 0 0 4px 0 rgba(10, 42, 97, 0.2);
			transform: scale(1.1);
		}

		.preview-icon {
			display: inline-block;
			width: 32px;
			text-align: center;
			margin-right: 24px;
			font-size: 22px;
		}

		.copied {
			position: fixed;
			top: 10px;
			right: -80px;
			font-size: 14px;
			opacity: 0;
			transition: all .2s ease-out;
		}

		.copied--show {
			opacity: 1;
			transform: translateX(-90px);
		}

		@media screen and (min-width: 512px) {
			.preview-item {
				flex: 0 1 50%;
			}
		}

		@media screen and (min-width: 768px) {
			.preview-item {
				flex: 0 1 33.3333%;
			}
		}

		@media screen and (min-width: 1024px) {
			.preview-item {
				flex: 0 1 25%;
			}
		}

		{{{styles}}}
	</style>
</head>
<body>
	<h1 class="title">{{fontName}}</h1>
	<h2 class="sub-title">{{names.length}} icons</h2>

	<div class="preview">
		{{#each names}}
		<div class="preview-item">
			<!-- Trigger -->
			<button class="preview-content" data-clipboard-text="{{this}}">
				<span class="preview-icon">
					<i class="{{../classPrefix}}{{this}}"></i>
				</span>
				<span>{{this}}</span>
			</button>
		</div>
		{{/each}}
	</div>

	<div class="copied">Copied</div>

	<script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
	<script>
		const copied = document.querySelector('.copied');
		const clipboard = new ClipboardJS('.preview-content');
		let timer;

		clipboard.on('success', function(e) {
			copied.classList.add('copied--show');

			if (timer) {
				clearTimeout(timer);
				timer = null;
			}

			timer = setTimeout(() => {
				copied.classList.remove('copied--show');
			}, 600);
		});
	</script>
</body>
</html>
